/* begin Page */

body
{
	margin: 0 auto;
	padding: 0;
	background-color: #DBE0E1;
}

#art-main
{
	position: relative;
	width: 100%;
	left: 0;
	top: 0;
}

#art-page-background-simple-gradient
{
	position: absolute;
	background-image: url('../Images/Page-BgSimpleGradient.jpg');
	background-repeat: repeat-x;
	top:0;
	width: 100%;
	height: 500px;
}

.cleared
{
	float: none;
	clear: both;
	margin: 0;
	padding: 0;
	border: none;
	font-size:1px;
}


form
{
	padding:0 !important;
	margin:0 !important;
}

table.position
{
	position: relative;
	width: 100%;
	table-layout: fixed;
}
/* end Page */

/* begin Box, Sheet */
.art-Sheet
{
	position:relative;
	z-index:0;
	margin:0 auto;
	width: 1024px;
	min-width:53px;
	min-height:53px;
}

.art-Sheet-body
{
	position: relative;
	z-index: 1;
	padding: 9px;
}

.art-Sheet-tr, .art-Sheet-tl, .art-Sheet-br, .art-Sheet-bl, .art-Sheet-tc, .art-Sheet-bc,.art-Sheet-cr, .art-Sheet-cl
{
	position:absolute;
	z-index:-1;
}

.art-Sheet-tr, .art-Sheet-tl, .art-Sheet-br, .art-Sheet-bl
{
	width: 68px;
	height: 68px;
	background-image: url('../Images/Sheet-s.png');
}

.art-Sheet-tl
{
	top:0;
	left:0;
	clip: rect(auto, 34px, 34px, auto);
}

.art-Sheet-tr
{
	top: 0;
	right: 0;
	clip: rect(auto, auto, 34px, 34px);
}

.art-Sheet-bl
{
	bottom: 0;
	left: 0;
	clip: rect(34px, 34px, auto, auto);
}

.art-Sheet-br
{
	bottom: 0;
	right: 0;
	clip: rect(34px, auto, auto, 34px);
}

.art-Sheet-tc, .art-Sheet-bc
{
	left: 34px;
	right: 34px;
	height: 68px;
	background-image: url('../Images/Sheet-h.png');
}

.art-Sheet-tc
{
	top: 0;
	clip: rect(auto, auto, 34px, auto);
}

.art-Sheet-bc
{
	bottom: 0;
	clip: rect(34px, auto, auto, auto);
}

.art-Sheet-cr, .art-Sheet-cl
{
	top: 34px;
	bottom: 34px;
	width: 68px;
	background-image: url('../Images/Sheet-v.png');
}

.art-Sheet-cr
{
	right:0;
	clip: rect(auto, auto, auto, 34px);
}

.art-Sheet-cl
{
	left:0;
	clip: rect(auto, 34px, auto, auto);
}

.art-Sheet-cc
{
	position:absolute;
	z-index:-1;
	top: 34px;
	left: 34px;
	right: 34px;
	bottom: 34px;
	background-color: #FCFDFD;
}


.art-Sheet
{
	margin-top: -9px !important;
}

#art-page-background-simple-gradient, #art-page-background-gradient, #art-page-background-glare
{
	min-width:1024px;
}

/* end Box, Sheet */

/* begin Header */
div.art-Header
{
	margin: 0 auto;
	position: relative;
	z-index:0;
	width: 1006px;
	height: 200px;
}


div.art-Header-jpeg
{
	position: absolute;
	z-index:-1;
	top: 0;
	left: 0;
	width: 1006px;
	height: 200px;
	background-image: url('../Images/Header.jpg');
	background-repeat: no-repeat;
	background-position: center center;
}
/* end Header */

/* begin Logo */
.art-Logo
{
	display : block;
	position: absolute;
	left: 10px;
	top: 64px;
	width: 976px;
}

h1.art-Logo-name
{
	display: block;
	text-align: left;
}

h1.art-Logo-name, h1.art-Logo-name a, h1.art-Logo-name a:link, h1.art-Logo-name a:visited, h1.art-Logo-name a:hover
{
font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
font-size: 36px;
text-decoration: none;
	padding:0;
	margin:0;
	color: #182C34 !important;
}

.art-Logo-text
{
	display: block;
	text-align: left;
}

.art-Logo-text, .art-Logo-text a
{
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
font-size: 20px;
	padding:0;
	margin:0;
	color: #182C34 !important;
}
/* end Logo */

/* begin ContentLayout */
.art-contentLayout
{
	position: relative;
	margin-bottom: 3px;
	width: 1006px;
}
/* end ContentLayout */

/* begin Box, Block */
.art-Block
{
	position:relative;
	z-index:0;
	margin:0 auto;
	min-width:19px;
	min-height:19px;
}

.art-Block-body
{
	position: relative;
	z-index: 1;
	padding: 9px;
}

.art-Block-tr, .art-Block-tl, .art-Block-br, .art-Block-bl, .art-Block-tc, .art-Block-bc,.art-Block-cr, .art-Block-cl
{
	position:absolute;
	z-index:-1;
}

.art-Block-tr, .art-Block-tl, .art-Block-br, .art-Block-bl
{
	width: 26px;
	height: 26px;
	background-image: url('../Images/Block-s.png');
}

.art-Block-tl
{
	top:0;
	left:0;
	clip: rect(auto, 13px, 13px, auto);
}

.art-Block-tr
{
	top: 0;
	right: 0;
	clip: rect(auto, auto, 13px, 13px);
}

.art-Block-bl
{
	bottom: 0;
	left: 0;
	clip: rect(13px, 13px, auto, auto);
}

.art-Block-br
{
	bottom: 0;
	right: 0;
	clip: rect(13px, auto, auto, 13px);
}

.art-Block-tc, .art-Block-bc
{
	left: 13px;
	right: 13px;
	height: 26px;
	background-image: url('../Images/Block-h.png');
}

.art-Block-tc
{
	top: 0;
	clip: rect(auto, auto, 13px, auto);
}

.art-Block-bc
{
	bottom: 0;
	clip: rect(13px, auto, auto, auto);
}

.art-Block-cr, .art-Block-cl
{
	top: 13px;
	bottom: 13px;
	width: 26px;
	background-image: url('../Images/Block-v.png');
}

.art-Block-cr
{
	right:0;
	clip: rect(auto, auto, auto, 13px);
}

.art-Block-cl
{
	left:0;
	clip: rect(auto, 13px, auto, auto);
}

.art-Block-cc
{
	position:absolute;
	z-index:-1;
	top: 13px;
	left: 13px;
	right: 13px;
	bottom: 13px;
	background-color: #E5EDF0;
}


.art-Block
{
	margin: 7px;
}

/* end Box, Block */

/* begin BlockHeader */
.art-BlockHeader
{
	position:relative;
	z-index:0;
	height: 30px;
	padding: 0 7px;
	margin-bottom: 15px;
}

.art-BlockHeader .t
{
	height: 30px;
	color: #EEF1F1;
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
font-size: 12px;
	white-space : nowrap;
	padding: 0 6px;
	line-height: 30px;	
}

.art-BlockHeader .l, .art-BlockHeader .r
{
	display:block;
	position:absolute;
	z-index:-1;
	height: 30px;
	background-image: url('../Images/BlockHeader.png');
}

.art-BlockHeader .l
{
	left:0;
	right:4px;
}

.art-BlockHeader .r
{ 
	width:1006px;
	right:0;
	clip: rect(auto, auto, auto, 1002px);
}





.art-header-tag-icon
{
    height: 30px;
	background-position:left top;
	background-image: url('../Images/BlockHeaderIcon.png');
	padding:0 0 0 15px;
	background-repeat: no-repeat;
	min-height: 12px;
	margin: 0 0 0 5px;
}


/* end BlockHeader */

/* begin Box, BlockContent */
.art-BlockContent
{
	position:relative;
	z-index:0;
	margin:0 auto;
	min-width:1px;
	min-height:1px;
}

.art-BlockContent-body
{
	position: relative;
	z-index: 1;
	padding: 10px;
}



.art-BlockContent-body
{
	color:#000000;
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
font-size: 12px;
}

.art-BlockContent-body a:link
{
	color: #335B6C;
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.art-BlockContent-body a:visited, .art-BlockContent-body a.visited
{
	/*color: #7E8F91;*/
	color: #335B6C;
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
text-decoration: none;
}

.art-BlockContent-body a:hover, .art-BlockContent-body a.hover
{
	color: #457C92;
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
text-decoration: none;
}

.art-BlockContent-body ul
{
	list-style-type: none;
	color: #172931;
	margin:0;
	padding:0;
}

.art-BlockContent-body ul li
{
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
font-size: 12px;
line-height: 125%;
  line-height: 1.25em;
  padding: 0px 0 0px 11px;
  background-image: url('../Images/BlockContentBullets.png');
  background-repeat: no-repeat;
}

/* end Box, BlockContent */

/* begin Box, Post */
.art-Post
{
	position:relative;
	z-index:0;
	margin:0 auto;
	min-width:1px;
	min-height:1px;
}

.art-Post-body
{
	position: relative;
	z-index: 1;
	padding: 12px;
}

.art-Post
{
	margin: 7px;
}

/* Start images */
a img
{
	border: 0;
}

.art-article img, img.art-article
{
	margin: 1em;
}

.art-metadata-icons img
{
	border: none;
	vertical-align: middle;
	margin: 2px;
}
/* Finish images */

/* Start tables */

.art-article table, table.art-article
{
	border-collapse: collapse;
	margin: 1px;
	width:auto;
}

.art-article table, table.art-article .art-article tr, .art-article th, .art-article td
{
	background-color:Transparent;
}

.art-article th, .art-article td
{
	padding: 2px;
	border: solid 1px #4A707D;
	vertical-align: top;
	text-align:left;
}

.art-article th
{
	text-align: center;
	vertical-align: middle;
	padding: 7px;
}

.tableAlternate 
{
    width:80%;
    border:1px solid black;
}

.tableAlternate tr:nth-child(2n-2)
{
    background-color:#cccccc;
}

.tableAlternateHeader
{
    font-weight:bold;
}

/* Finish tables */

pre
{
	overflow: auto;
	padding: 0.1em;
}

/* end Box, Post */

/* begin PostMetadata */
.art-PostMetadataHeader
{
	padding:1px;
	background-color: #C4DAE3;
}
/* end PostMetadata */

/* begin PostHeaderIcon */
.art-PostHeader
{
	text-decoration:none;
	margin: 0.2em 0;
	padding: 0;
	font-weight:normal;
	font-style:normal;
	letter-spacing:normal;
	word-spacing:normal;
	font-variant:normal;
	text-decoration:none;
	font-variant:normal;
	text-transform:none;
	text-align:left;
	text-indent:0;
	line-height:inherit;
font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
font-size: 22px;
	color: #274753;
}

.art-PostHeader a, .art-PostHeader a:link, .art-PostHeader a:visited, .art-PostHeader a:hover
{
font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
font-size: 22px;
	margin:0;
	color: #274753;
}

/* end PostHeaderIcon */

/* begin PostHeader */
.art-PostHeader a:link
{
font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
text-decoration: none;
text-align: left;
  color: #315868;
}

.art-PostHeader a:visited, .art-PostHeader a.visited
{
font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
text-decoration: none;
text-align: left;
  color: #486D7A;
}

.art-PostHeader a:hover, .art-PostHeader a.hovered
{
font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
text-decoration: none;
text-align: left;
  color: #5090AA;
}
/* end PostHeader */

/* begin PostContent */
/* Content Text Font & Color (Default) */
body
{
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
font-size: 12px;
  color: #000000;
}


.art-PostContent p 
{
	margin: 0.5em 0;
}

.art-PostContent, .art-PostContent p
{
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  color: #000000;
}

.art-PostContent
{
  margin:0;
}


/* Start Content link style */
/*
The right order of link pseudo-classes: Link-Visited-Hover-Focus-Active.
http://www.w3schools.com/CSS/css_pseudo_classes.asp
http://meyerweb.com/eric/thoughts/2007/06/11/who-ordered-the-link-states/
*/
a
{
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
text-decoration: none;
  color: #4B88A0;
}

/* Adds special style to an unvisited link. */
a:link
{
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
text-decoration: none;
  color: #4B88A0;
}

/* Adds special style to a visited link. */
a:visited, a.visited
{
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
text-decoration: none;
  /*color: #40626D;*/
  color: #4B88A0;
}

/* :hover - adds special style to an element when you mouse over it. */
a:hover, a.hover
{
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
text-decoration: none;
  color: #6AA2B9;
}

/* Finish Content link style */

/* Resert some headings default style & links default style for links in headings*/
h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited
{
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}


/* Start Content headings Fonts & Colors  */
h1, h1 a, h1 a:link, h1 a:visited, h1 a:hover
{
font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
font-size: 29px;
  color: #376476;
}

h2, h2 a, h2 a:link, h2 a:visited, h2 a:hover
{
font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
font-size: 22px;
  color: #376476;
}

h3, h3 a, h3 a:link, h3 a:visited, h3 a:hover
{
font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
font-size: 17px;
  color: #4B88A0;
}

h4, h4 a, h4 a:link, h4 a:visited, h4 a:hover
{
font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
font-size: 14px;
  color: #000000;
}

h5, h5 a, h5 a:link, h5 a:visited, h5 a:hover
{
font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
font-size: 12px;
  color: #000000;
}

h6, h6 a, h6 a:link, h6 a:visited, h6 a:hover
{
font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
font-size: 10px;
  color: #000000;
}
/* Finish Content headings Fonts & Colors  */
/* end PostContent */

/* begin PostBullets */
/* Start Content list */
ol, ul
{
	color: #131616;
	margin:1em 0 1em 2em;
	padding:0;
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
font-size: 12px;
}

li ol, li ul
{
	margin:0.5em 0 0.5em 2em;
	padding:0;
}

li 
{
	margin:0.2em 0;
	padding:0;
}

ul
{
	list-style-type: none;
}

ol
{
	list-style-position:inside;
}

.art-Post li
{
	padding:0px 0 0px 16px;
	line-height:1.2em;
}

/*.art-Post ol li, .art-Post ul ol li*/
.art-content ol li, .art-content ul ol li
{
	background: none;
	padding-left:0;
}

/*.art-Post ul li, .art-Post ol ul li */
.art-content ul li, .art-content ol ul li
{
	background-image: url('../Images/PostBullets.png');
	background-repeat:no-repeat;
	padding-left:16px;
}


/* Finish Content list */
/* end PostBullets */

/* begin PostQuote */
/* Start blockquote */
blockquote,
blockquote p,
.art-PostContent blockquote p
{
	color:#0B1518;
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

blockquote,
.art-PostContent blockquote
{
		margin:10px 10px 10px 50px;
	padding:5px 5px 5px 41px;
	background-color:#EAF2F5;
	background-image:url('../Images/PostQuote.png');
	background-position:left top;
	background-repeat:no-repeat;
}


/* Finish blockuote */
/* end PostQuote */

/* begin Button */
.art-button-wrapper .art-button
{
	display:inline-block;
	width: auto;
	outline:none;
	border:none;
	background:none;
	line-height:36px;
	margin:0 !important;
	padding:0 !important;
	overflow: visible;
	cursor: default;
	text-decoration: none !important;
	z-index:0;
	vertical-align: middle;
}

.art-button img, .art-button-wrapper img
{
  margin: 0;
}

.art-button-wrapper
{
	display:inline-block;
	vertical-align: middle;
	position:relative;
	height: 36px;
	overflow:hidden;
	white-space: nowrap;
	width: auto;
	z-index:0;
}

.firefox2 .art-button-wrapper
{
	display:block;
	float:left;
}

.art-button-wrapper .art-button
{
	display:block;
	height: 36px;
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
font-size: 12px;
	white-space: nowrap;
	text-align: left;
	padding: 0 26px !important;
	line-height: 36px;
	text-decoration: none !important;
	color: #E9ECEC !important;
}

input, select
{
  vertical-align: middle;
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
font-size: 12px;
}

.art-button-wrapper.hover .art-button, .art-button:hover
{
	color: #EAF2F5 !important;
	text-decoration: none !important;
}

.art-button-wrapper.active .art-button
{
	color: #E5EDF0 !important;
}

.art-button-wrapper .l, .art-button-wrapper .r
{
	display:block;
	position:absolute;
	z-index:-1;
	height: 108px;
	background-image: url('../Images/Button.png');
}

.art-button-wrapper .l
{
	left:0;
	right:18px;
}

.art-button-wrapper .r
{
	width:425px;
	right:0;
	clip: rect(auto, auto, auto, 407px);
}

.art-button-wrapper.hover .l, .art-button-wrapper.hover .r
{
	top: -36px;
}

.art-button-wrapper.active .l, .art-button-wrapper.active .r
{
	top: -72px;
}


/* end Button */

/* begin Footer */
.art-Footer
{
	position:relative;
	z-index:0;
	overflow:hidden;
	width: 1006px;
	margin: 5px auto 0px auto;
}

.art-Footer .art-Footer-inner
{
	height:1%;
	position: relative;
	z-index: 0;
	padding: 8px;
	text-align: center;
}

.art-Footer .art-Footer-background
{
	position:absolute;
	z-index:-1;
	background-repeat:no-repeat;
	background-image: url('../Images/Footer.png');
	width: 1006px;
	height: 150px;
	bottom:0;
	left:0;
}


.art-Footer .art-Footer-text p
{
	margin: 0;
}

.art-Footer .art-Footer-text
{
	display:inline-block;
	color:#151819;
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.art-Footer .art-Footer-text a:link
{
	text-decoration: none;
	color: #213B45;
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
text-decoration: none;
}

.art-Footer .art-Footer-text a:visited
{
	text-decoration: none;
	color: #465153;
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
text-decoration: none;
}

.art-Footer .art-Footer-text a:hover
{
	text-decoration: none;
	color: #315868;
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
text-decoration: none;
}
/* end Footer */

/* begin PageFooter */
.art-page-footer, .art-page-footer a, .art-page-footer a:link, .art-page-footer a:visited, .art-page-footer a:hover
{
	font-family:Arial;
	font-size:10px;
	letter-spacing:normal;
	word-spacing:normal;
	font-style:normal;
	font-weight:normal;
	text-decoration:underline;
	color:#41768B;
}

.art-page-footer
{
	margin:1em;
	text-align:center;
	text-decoration:none;
	color:#5E6D6E;
}
/* end PageFooter */

/* begin LayoutCell */
.art-contentLayout .art-sidebar1
{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	overflow: hidden;
	width: 261px;
}
/* end LayoutCell */

/* begin LayoutCell */
.art-contentLayout .art-content
{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	overflow: hidden;
	width: 723px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.art-contentLayout .art-content-wide
{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	overflow: hidden;
	width: 1004px;
}
/* end LayoutCell */

/* begin error & message */
.error 
{
    color:Red;
}

.message 
{
    
}
/* end error & message */

.descriptionPanel ul 
{
    list-style-type:circle;
}

/* Add/Modify project styles */

.art-content label {
	display: inline;
	float: left;
	width: 170px;
}

.art-content input {
	width: 250px;
	margin: 2px;
}

.art-content textarea {
	width: 250px;
	height: 150px;
}

.art-content .but
{
    width: 80px;
}

.art-content .buttons
{
    margin-top: 40px;
    text-align: center;
}

.art-content .error
{
    color: #FF0000;
}

.art-content input.buttoncal
{
    width: 30px;
}

.art-content .checkboxopen input
{
    width: 30px;
    border: 2px solid #FF0000;
}